<template>
<div class="body">
      <h1 class="title is-1 has-text-centered headding" style="margin-top: 24px; line-height: 64px;">
          <img src="./icons8-bücherregal-64.png" alt="Bücherregal"> 
          <span>Bookmanager</span>
      </h1>
       <hr class="divider">

    <router-view id="container"></router-view>

    <footer>
      <div class="container">
        <div>
          <i class="ri-information-line"></i>
          <router-link to="/infos">Informationen</router-link>
        </div>
        <div>
          <a target="_blank" href="https://icons8.de/icons/set/book-shelf">Bücherregal</a>&NonBreakingSpace;icon by&NonBreakingSpace;<a target="_blank" href="https://icons8.de">Icons8</a>
        </div>
        <div>
          <i class="ri-copyright-line"></i> <a href="http://zottelchin.de">Phillipp</a>
        </div>
        <div>
          <i class="ri-git-repository-line"></i>
          <a href="https://codeberg.com/zottelchin/bookmanager">Bookmanager</a>
        </div>
        <div>
          <i class="ri-git-commit-line"></i>
          <a :href="github">Build vom: {{version.build}}</a>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from "vue";
import VueRouter from "vue-router";
import 'remixicon/fonts/remixicon.css';
import Books from "./books.vue";
import N from "./new.vue";
import Info from "./info.vue";

Vue.use(VueRouter);

const router = new VueRouter({
  mode: "history",
  routes: [
    { path: "/", component: Books, alias: "/" },
    { path: "/new", component: N },
    { path: "/infos", component: Info}
  ]
});

export default {
  router,
  data() {
     this.load();
    return {
      version: {
        commit: "",
        build: ""
      }
    };
  },
  methods: {
    async load() {
      let res = await api.GET("/version");
      this.version = res.content;
    }
  },
  computed: {
    github () {
      return "https://github.com/zottelchin/sam/commit/"+ this.version.commit;
    }
  }
};
</script>

<style lang="sass">
@charset "utf-8"
$footer-padding: 2rem 1.5rem 2rem
$table-row-hover-background-color: hsl(179, 81%, 86%)

@import "../bulma-0.7.5/bulma.sass"
@import "./bookmanager.sass"
</style>