<template>
<div>
    <div class="level">
        <div class="level-left">
            <h3 class="title is-3 level-item">Bücher</h3>
        </div>
        <div class="level-right">
            <div class="field has-addons">
                <p class="control">
                    <input type="text" class="input" v-model="searchWord">
                </p>
                <p class="control">
                    <span class="button is-primary" @click="search()">Suchen</span>
                </p>
            </div>
        </div>
    </div>

    <div class="box" v-for="book in books" :key="book.ID">
        <div class="columns is-mobile">
            <div class="column is-narrow" style="max-height: 200px !important">
                <img :src="book.CoverURL" alt="Image" style="max-height: 150px">
            </div>
            <div class="columns is-desktop" style="margin-top: 0rem">
                <div class="column is-two-thirds">
                    <h5 class="title is-5">{{ book.Title }}</h5>
                    <h6 class="subtitle is-6"> {{ book.Author}} </h6>
                </div>
                <div class="column">
                    <div v-if="book.Location != 0"></div>
                    <strong>Lagerort: </strong> 
                    <br>
                    {{ locate(book.Location) ? locate(book.Location).Name : "" }}
                    <small>{{  locate(book.Location) ? locate(book.Location).Comment : "" }}</small>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">
        <div class="field has-addons">
            <span class="control">
                <input type="password" class="input" v-model="pass">
            </span>
            <span class="control">
                <span class="button" @click="saveCredentials">Passwort im Browser speichern</span>
            </span>
        </div>
        <div class="field">
            <span class="button">Buch hinzufügen</span>
        </div>
        <div class="field">
            <span class="button">Lagerort hinzufügen</span>
        </div>
</div>
</template>

<script>
export default {
    data() {
        setTimeout(() => this.load())
        return {
            books: [],
            shelfs: [],
            pass: "",
            org: [],
            searchWord: ""
        }
    },
    methods: {
        async load() {
            await this.loadBooks();
            await this.loadShelfs();
        },
        async loadBooks() {
            let r = await api.GET("/books");
            if (r.ok) this.org = this.books = r.content;
        },
        async loadShelfs() {
            let r = await api.GET("/shelfs");
            if (r.ok) this.shelfs = r.content;
        },
        locate(id) {
            return this.shelfs.find( elem => elem.ID == id);
        },
        saveCredentials() {
            localStorage.setItem("pass", this.pass);
        },
        search() {
            this.books = this.org.filter(el => el.Title.toLowerCase().includes(this.searchWord.toLowerCase()))
        }
    }
}
</script>