// -------------
html, body
    height: 100% 
    
.body
    height: 100%
    display: flex
    flex-direction: column

#container
    flex: 1
    @media screen and (min-width: 1500px)
        width: 1300px
        margin: 0 auto
    @media screen and (max-width: 1500px)
        width: 1100px
        margin: 0 auto
    @media screen and (max-width: 1150px)
        width: calc(100% - 10em)
        margin: 0 5em
    @media screen and (max-width: 800px)
        width: calc(100% - 4em)
        margin: 0 2em

// Footer ---------
footer 
    background-color: #f9dd8f
    border-top: 2px solid #8d6c9f
    padding: 0.8rem 0
    margin-top: 2em
    .container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        div
            padding: 0 1.5em
            display: flex
            i
                margin-right: 0.2em

@media (max-width: 750px)
    footer 
        .container 
            div
                flex-basis: 100%

.headding
    margin-top: 24px
    line-height: 64px
    display: flex
    justify-content: center
    flex-wrap: wrap
    span
        margin-left: 1rem
    