<template>
    <div class="content">
        <h1>Information zur Software</h1>
        <h3>Ersteller</h3>
        <p>Phillipp Engelke <br>Sickingenstraße 4 <br>39108 Magdeburg </p>
        <p>Mail: mail@zottelchin.de</p>
        <p>Ich betreibe nur <a href="https://books.zottelchin.de">books.zottelchin.de</a> und bin für keine andere Instanz verantwortlich.</p>
        <h3>Datenspeicherung</h3>
        <p>Bei der Anmeldung werden nur die eingegebenen Daten gespeichert. Bei der Anmeldung wird der Nutzer über seine E-Mail und sein Passwort authentifiziert. Wenn das erfolgreich ist, wird im Browser ein Schlüssel
            gespeichert, mit dem sich der Browser authentifiziert. Dieser Schlüssel wird <strong>nur</strong> zur Authentifizierung verwendet.
        </p>
        <p>Die Daten werden alle auf dem Server in einer Datei gespeichert.</p>
        <h3>Fehler melden</h3>
        <p>Das ganze Projekt ist ein privates Projekt von mir. Ich entwickle es in meiner Freizeit. Alle Unterstützer sind willkommen.</p>
        <p><strong>Fehler melden:</strong> Auf Github ein <a href="https://codeberg.org/zottelchin/Bookmanager/issues">Issues</a> melden.</p>
        <p><strong>Direkt mitarbeiten:</strong> Erstelle einfach einen <a href="https://codeberg.org/zottelchin/Bookmanager/pulls">Pull-Request</a>.</p>
    </div>
</template>
