<template>

    <div>
        <h3 class="title is-3 has-text-centered">neues Buch hinzufügen</h3>
        <label class="label">ISBN:</label>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" v-model="ISBN">
            </p>
            <p class="control">
                <span class="button" @click="searchGoogle()">Suchen</span>
            </p>
        </div>

        <progress class="progress" max="100" v-show="loading"></progress>
        
        <label class="label">Titel</label>
        <div class="field">
            <p class="control">
                <input type="text" class="input" v-model="Title">
            </p>
        </div>

        <label class="label">Autor</label>
        <div class="field">
            <p class="control">
                <input type="text" class="input" v-model="Author">
            </p>
        </div>

        <label class="label">Verlag</label>
        <div class="field">
            <p class="control">
                <input type="text" class="input" v-model="Publisher">
            </p>
        </div>

        <label class="label">Lagerort</label>
        <div class="field">
            <p class="control">
                <input type="text" class="input" v-model="Location">
            </p>
        </div>

        <label class="label">Cover</label>
        <div class="field is-grouped">
            <p class="control">
                <img :src="CoverURL" alt="Cover" style="max-height: 150px">
            </p>
            <p class="control is-expanded">
                <input type="url" class="input " v-model="CoverURL">
            </p>
        </div>

        <div class="field">
            <p class="control">
                <span class="button is-primary" @click="save()">Speichern</span>
            </p>
        </div>
    </div>
    
</template>

<script>
export default {
    data() {
        return {
            ISBN: "9783551356901",
            result: {},
            Title: "",
            Author: "",
            Publisher: "",
            Location: "",
            CoverURL: "",
            loading: false
        }
    },
    methods: {
        async searchGoogle() {
            this.loading = true;
            let r = await fetch("https://www.googleapis.com/books/v1/volumes?q=isbn:"+ this.ISBN)
            this.result = await r.json();
            this.Title = this.result.items[0].volumeInfo.title;
            this.Author = this.result.items[0].volumeInfo.authors[0];
            this.Publisher = this.result.items[0].volumeInfo.publisher;
            this.CoverURL = this.result.items[0].volumeInfo.imageLinks.thumbnail;
            this.loading = false;
        },
        async save() {
            let r = await api.POST("/books", { 
                "Title": this.Title,
                "Author": this.Author,
                "Publisher": this.Publisher,
                "CoverURL": this.CoverURL,
                "Location": parseInt(this.Location),
                "ISBN": this.ISBN
            })
        }
    }
}
</script>